header {
  position: fixed;
  z-index: 25;
  top: 0px;
  width: 100%;
}

.navbar-header {
  /* overflow: hidden; */
  background-color: #333;
  font-family: Arial;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

/* Navbar container */
.navbar {
  /* overflow: hidden; */
  background-color: #333;
  font-family: Arial;
  list-style-type: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: #000000;
  height: 60px;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 24;
}

/* Links inside the navbar */
.navbar a {
  /* float: left; */
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  overflow: visible;
}

/* CSS for screens larger than 768px */
/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* .header__logo img {
  height: 50px;
}

.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: #b37777;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s;
  display: block;
  padding: 10px 20px;
}

.nav-item a:hover {
  color: #f60;
}

.nav-item {
  color: #724444;
  background-color: #000000;
  border: 2px solid #290a0a;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
}

.header__nav-button:hover {
  color: #fff;
  background-color: #930b0b;
  border: 2px solid #b37777;
  transition: all 0.3s;
} */

/* CSS for screens smaller than 768px */
/* @media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header__nav-item a {
    padding: 10px 0;
  }
}
@media (min-width: 769px) {
  .header__nav-button {
    margin: 0;
  }
} */
