/* CSS for screens larger than 768px */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo img {
  height: 50px;
}

.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.header__nav-item:not(:last-child) {
  margin-right: 40px;
}

.header__nav-item {
  margin: 0 10px;
}

.header__nav-item a {
  color: #b37777;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s;
  display: block;
  padding: 10px 20px;
}

.header__nav-item a:hover {
  color: #f60;
}

.header__nav-button {
  color: #724444;
  background-color: #000000;
  border: 2px solid #290a0a;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
}

.header__nav-button:hover {
  color: #fff;
  background-color: #930b0b;
  border: 2px solid #b37777;
  transition: all 0.3s;
}

/* CSS for screens smaller than 768px */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header__nav-item a {
    padding: 10px 0;
  }
}
@media (min-width: 769px) {
  .header__nav-button {
    margin: 0;
  }
}
