/* CSS for screens larger than 768px */
.hero {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100vh;
  transition: background-image 1s ease-in-out;
}

.logo1 {
  position: absolute;
  display: block;
  top: 50px;
  left: 50px;
  width: 150px;
  height: 150px;
  z-index: 1;
}

.login-signup-button {
  padding: 10px 20px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login-signup-button:hover {
  background-color: #fff;
  color: #000;
}

/* CSS for screens smaller than 768px */
@media (max-width: 768px) {
  .landing {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .logo1 {
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 20px;
  }

  .login-signup-button {
    font-size: 16px;
    padding: 8px 16px;
  }
}
